{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 54.5601579,
    "longitude": 18.3781599,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Warsaw",
    "external_url": null,
    "internal_url": null,
    "currency": "PLN",
    "country": "PL",
    "language": "en-GB",
    "radius": 100
  }
}