apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ grocy_pvc_name }}
  namespace: {{ grocy_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ grocy_storage_size }}
