[defaults]
roles_path = ../roles:../../roles:roles:ansible/roles
callbacks_enabled = timer, profile_tasks
retry_files_enabled = False
force_color = True
forks = 50
pipelining = True

stdout_callback = debug
stderr_callback = debug
