apiVersion: apps/v1
kind: Deployment
metadata:
  name: openwebui
  namespace: {{ ollama_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: openwebui
  template:
    metadata:
      labels:
        app: openwebui
    spec:
      containers:
      - name: openwebui
        image: {{ openwebui_image }}
        ports:
          - containerPort: 8080
        env:
          - name: OLLAMA_API_BASE_URL
            value: "http://ollama.{{ ollama_namespace }}.svc.cluster.local:11434"
{% if gpt3o_api_key != "" %}
          - name: OPENAI_API_KEY
            valueFrom:
              secretKeyRef:
                name: gpt3o-api-key
                key: OPENAI_API_KEY
{% endif %}
---
apiVersion: v1
kind: Service
metadata:
  name: openwebui
  namespace: {{ ollama_namespace }}
spec:
  selector:
    app: openwebui
  ports:
    - port: 8080
      targetPort: 8080
