apiVersion: apps/v1
kind: Deployment
metadata:
  name: openwebui
  namespace: {{ ollama_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: openwebui
  template:
    metadata:
      labels:
        app: openwebui
    spec:
      containers:
      - name: openwebui
        image: {{ openwebui_image }}
        ports:
          - containerPort: 8080
        env:
          - name: OPENAI_API_KEY
            valueFrom:
              secretKeyRef:
                name: ai-api-keys
                key: OPENAI_API_KEY
          - name: GOOGLE_API_KEY
            valueFrom:
              secretKeyRef:
                name: ai-api-keys
                key: GOOGLE_API_KEY
        volumeMounts:
          - name: openwebui-data
            mountPath: /app/backend/data
      volumes:
        - name: openwebui-data
          persistentVolumeClaim:
            claimName: openwebui-data-pvc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: openwebui-data-pvc
  namespace: {{ ollama_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path
---
apiVersion: v1
kind: Service
metadata:
  name: openwebui
  namespace: {{ ollama_namespace }}
spec:
  selector:
    app: openwebui
  ports:
    - port: 8080
      targetPort: 8080
